body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
main{
    padding: 25px;
    display: block;
    overflow: hidden;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.left-side{
    display: block;
    width: 40%;
    overflow: hidden;
    padding: 15px;
}
.overview{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.overview img{
    width: 30%;
    max-height: 25vh;
    object-fit: fill;
}
.overview h1{
    text-align: center;
}
.text-title{
    position: relative;
    border-bottom: 2px solid black;
}
.information-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.information-content ul{
    padding: 0;
}
.information-content ul li{
    list-style-type: none;
}
.information-content ul li:not(:last-child){
    margin-bottom: 8px;
}
.information-content ul:nth-child(1){
    width: 30%;
}
.information-content ul:nth-child(2){
    width: 50%;
}
.skill-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: center; */
}
.skill-content div{
    width: 50%;
}
.skill-content div ul li{
    list-style-type: none;
}
.skill-content div ul{
    padding: 0 0 0 15px;
}
.skill-content div ul li:not(:last-child){
    margin-bottom: 5px;
}
.skill-content div ul li::before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    min-width: 5%;
    /* margin-left: -1%; */
    text-align: center;
}
.right-side{
    display: block;
    width: 50%;
    overflow: hidden;
    padding: 15px;
}
.profile{
    display: inline;
}
.education table{
    width: 100%;
    text-align: start;
    padding: 12px 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.education table tr:nth-child(1){
    background-color: #019577;
    color: #ffffff;
    font-weight: bold;
}
.education table tr:nth-child(3){
    background-color: #f0f0f0;
}
.education table tr th{
    text-align: start;
    padding: 10px;
}
.education table tr td{
    padding: 10px;
}
.award table{
    width: 100%;
    text-align: start;
    padding: 12px 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.award table tr:nth-child(1) {
    background-color: #019577;
    color: #ffffff;
    font-weight: bold;
}
.award table tr th {
    text-align: start;
    padding: 10px;
}
.award table tr td {
    padding: 10px;
}
.work-experience{
    display: block;
    width: 100%;
}
.experience{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}
.time{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px 7px; 
}
.time p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.time p:not(:last-child){
    margin-bottom: 10px;
}
.time p:last-child{
    font-style: italic;
}
.details{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 5px 7px;
    position: relative;
    height: auto;
}
.details::before{
    position: absolute;
    content: '';
    border-right: 3px solid #cacaca;
    height: 100%;
    width: 50%;
    left: -55%;
    top: 5px;
}
.details::after{
    position: absolute;
    content: '';
    border: 2px solid #07dbaa;
    height: 2%;
    width: 0.5%;
    left: -5%;
    top: 5px;
}
.details h3{
    margin-bottom: 10px;
}
.details h3:first-child{
    color: #019577;
}
.details ul li:not(:last-child){
    margin-bottom: 5px;
}
.details *{
    margin: 0;
}
@media (max-width:800px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
    .left-side{
        width: 100%;
        padding: 0;
    }
    .right-side{
        width: 100%;
        padding: 0;
    }
    .skill-content{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .skill-content div{
        width: 100%;
    }
    .skill-content div ul {
        padding: 0;
    }
    .education table {
        padding: 0;
    }
    .education table {
        text-align: center;
    }
    .education table tr th {
        text-align: center;
        padding: 0;
    }
    .details::after {
        height: 1%;
        left: 0%;
    }
    .details::before {
        position: absolute;
        content: '';
        border-right: 3px solid #cacaca;
        height: 100%;
        width: 50%;
        left: -50%;
        top: 5px;
    }
}
