<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="cv.css">
  <link rel="stylesheet" href="/globalCSS/footer.css">
  <link rel="stylesheet" href="/globalCSS/header.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
  </style>
  <title>Document</title>
</head>

<body>
  <header>
    <div class="logo-container">
      <img src="/src/logo.png" alt="Author name image with logo">
    </div>
    <div class="navigation-bar">
      <nav>
        <a href="/main.html">Home</a>
        <a href="/components/cv/cv.html">CV</a>
        <a href="/components/project/project.html">Project</a>
        <a href="/components/blog/blog.html">Blogs</a>
        <a href="/components/contact/contact.html">Contact</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="left-side">
        <div class="overview">
          <img src="/src/avatar.jpg" alt="Avatar">
          <h1>Pi<br>kachu</h1>
          <p>Web and Mobile Developer</p>
        </div>
        <h2 class="text-title">Basic information</h2>
        <div class="information-content">
          <ul>
            <li>Full name</li>
            <li>Birthday</li>
            <li>Gender</li>
            <li>Nationality</li>
            <li>Marital status</li>
          </ul>
          <ul>
            <li>Manchetter Pikachu</li>
            <li>16/1/2002</li>
            <li>Male</li>
            <li>Local Vietnamese</li>
            <li>Single</li>
          </ul>
        </div>
        <h2 class="text-title">Languages</h2>
        <div class="information-content">
          <ul>
            <li>Vietnamese</li>
            <li>Chinese</li>
            <li>English</li>
          </ul>
          <ul>
            <li>Native</li>
            <li>Native</li>
            <li>Intermediate</li>
          </ul>
        </div>
        <h2 class="text-title">Skills</h2>
        <div class="skill-content">
          <div>
            <p>Web programming languages</p>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>PHP</li>
              <li>ReactJs</li>
              <li>Nextjs</li>
              <li>TypeScript</li>
              <li>Nodejs</li>
              <li>Ruby on Rails</li>
            </ul>
          </div>
          <div>
            <p>Mobile programming languages</p>
            <ul>
              <li>Swift</li>
              <li>Kotlin</li>
              <li>Solidity</li>
              <li>Java</li>
              <li>React Native</li>
              <li>Angular</li>
            </ul>
          </div>
          <div>
            <p>Other relevant skills</p>
            <ul>
              <li>Project Management (Agile)</li>
              <li>Smart Contracts</li>
              <li>Photoshop CS6</li>
              <li>Adobe Premiere</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="profile">
          <h2 class="text-title">Profile</h2>
          <p>Junior web developer with drive seeking position as full-stack web developer at CompanyY. committed to
            producing
            top-notch online apps. When attending RMIT University, I created an e-commerce website for a nearby fashion
            business.
            Software management, database management, debugging, and other relevant skills are included.</p>
        </div>
        <div class="education">
          <h2 class="text-title">Education</h2>
          <table>
            <tr>
              <th>Certification</th>
              <th>Graduated Year</th>
              <th>School</th>
              <th>GPA</th>
            </tr>
            <tr>
              <td>Bachelor of Information Technology</td>
              <td>2024</td>
              <td>Rmit</td>
              <td>3.5</td>
            </tr>
            <tr>
              <td>Master of Science in Computer Science</td>
              <td>2025</td>
              <td>MIT</td>
              <td>4.7</td>
            </tr>
          </table>
        </div>
        <div class="award">
          <h2 class="text-title">Awards</h2>
          <table>
            <tr>
              <th>Competition</th>
              <th>Award</th>
              <th>Total points</th>
            </tr>
            <tr>
              <td>Google code jam 2021</td>
              <td>9th</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Hacker cup 2020</td>
              <td>5th</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Leetcode contest 206</td>
              <td>2nd</td>
              <td>18</td>
            </tr>
          </table>
        </div>
        <div class="work-experience">
          <h2 class="text-title">Work Experience</h2>
          <div class="experience">
            <div class="time">
              <p>70 Pasir Panjang Rd, Mapletree Business City II, Singapore 117371</p>
              <p>November 2023-April 2025</p>
            </div>
            <div class="details">
              <h3>Data Analyst</h3>
              <h3>Google</h3>
              <ul>
                <li>
                  <p>Having a wide range of skills and experiences on working with complex datasets and guide new
                    freshers to woth with them as well</p>
                </li>
                <li>
                  <p>Intergrated data with existing data interfaces, transfer to 1NF, 2NF, 3NF or ideal BCNF.</p>
                </li>
                <li>
                  <p>Handle and find out data discrepancies before sending it out to project team.</p>
                </li>
                <li>
                  <p>Trained in finding identify patterns and relationships thorugh big data sets which can help to
                    solve enterprise hardship in data analysis</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="experience">
            <div class="time">
              <p>7th floor, Song Da Building, No. 18 Pham Hung, My Dinh 1 Ward, Nam Tu Liem District, Hanoi City</p>
              <p>June 2021-April 2023</p>
            </div>
            <div class="details">
              <h3>Mobile Developer</h3>
              <h3>TDT Asia</h3>
              <ul>
                <li>
                  <p>Worked on multiple projects for business marketing or online shopping cart with a variety of unique
                    features and aim to use-friendly interface</p>
                </li>
                <li>
                  <p>Designed, developed and hosted mobile applications with team project by using Kony APIs, Java,
                    Swift, React
                    Native, Kotlin, Eclipse,
                    Microsoft IIS, and NGINX.</p>
                </li>
                <li>
                  <p>Implemented remote deposit check capability, including third-party providers such as Swiftify,
                    Passport, and Lightico,
                    among others.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  <footer>
    <section class="footer-section">
      <div class="social-media-link">
        <nav>
          <a href="https://www.facebook.com/profile.php?id=100007463688144">Facebook</a>
          <a href="https://twitter.com/Minh91464685">Twitter</a>
          <a href="https://www.linkedin.com/in/kisari-seikaku-ab573a225/">Linkedin</a>
          <a href="https://www.reddit.com/user/Kisari5452">Reddit</a>
        </nav>
      </div>
      <p>@2022B Rmit VietNam COSC2430</p>
      <p>This is the original and individual work belong to s3891909 Rmit studentID</p>
    </section>
  </footer>
</body>

</html>